//importar fuentes

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans+Condensed:wght@300&family=Raleway:wght@400;700&family=Roboto:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

// color

$primary: #372f3a;
$purple: #502c56;
$secondary: #e1d9d3;
$darkPurple: #434868;
$pastelPurple: #6a5975;
$darkBlue:  #27436c;


$darker:   #4D4A59;
$orange:    #F26666;
$strongPink:  #eb7272;
$pink:#ffd9da;
$celestial: #6f7a96;

$winter: #F2F2F2;
$winterPink: #e5bc9a;
$pastelGray: #D9D9D9;
$gray:  #A6A6A6;
$black: #0D0D0D;
$blue:#297994;
$pastelPink: #f8f2e6;


//fonts 

$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans Condensed', sans-serif;
$dancing: 'Dancing Script', cursive;
$Raleway: 'Raleway', sans-serif;
$greatvibes: 'Great Vibes', cursive;
$yeseva: 'Yeseva One', cursive;
// setting

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: $roboto;
}
@mixin circle {
    border-radius: 50%;
    
    width: 200px;
    height: 200px;
    
    
}

@mixin sign {
    padding: 1.2rem;
    text-align: center;
    letter-spacing: .1rem;
    font-family: $Raleway;
    list-style-type: none;
    
}

@mixin basic {
    text-align: center;
    text-transform: uppercase;
}

@mixin gray {
    filter: grayscale(100%);
}


@mixin bg {
    
    background: url('../assets/a1c27395998927.png'), $winter;
        // linear-gradient(
        //     $winter, 
        //     $secondary);
        background-size: cover;
    
}

//efectos

@mixin t-ease {
    transition: all .5s ease-in-out;
}


//responsive

@mixin mobile {
    @media only screen and(max-width: 800px){
        @content;
    }
}

@function textColor($color){
    @if(lightness($color)>40%){
        @return $darkPurple;
    } @else {
        @return $pastelPink;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px){
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px){
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px){
        @content;
    }
}


//Button

.button{
    border: 1px solid $strongPink;
    margin: 2vh;

    &:hover{
        background: $strongPink
    }
}