@import './config';


.home {
    height:100vh;

    overflow:hidden;
    align-items: center;
    text-align: center;
    
    
    position: relative;
    z-index:-1;

    background-color: $secondary;
   
    
    display: flex;
    &__img{
        display: flex;
        flex-direction: column;
        margin: 0 auto;


    }
    

    svg{
        position: absolute;
        width: 300px;
        height: 300px;
        

        text{
            font-size: 5px;
            font-family: $open-sans;
            color: $primary;
            
        }
    }
    img{
        position: relative;
        @include circle;
        @include gray;
        
        margin: 50px;
        background: url(../assets/mine2.jpg);
        background-size: cover;
        

    }
   
    h2 {
        
        font-family: $dancing;
        color:$primary;
        

        span {
         
            margin-left: 20vw;
            
            color: $secondary;
            font-size: 1.3rem;
            margin: 1rem;
            padding: 0 1rem;
            
           
            
        }
    }
    &__name {
        
        padding-bottom:1rem;
        margin:1rem;
        color:$purple;
        font-weight: 400;
        border-bottom: 1px solid $purple;
        
        
   
        span{
           
            font-family: $yeseva !important;
            font-size: 8vw;
          
            
        }
       
        
        &--last {
            color: $secondary;
            background :$purple;
            
            font-family: $yeseva !important;
            font-size: 8vw;
            
            
            
        }
    }
    &_h1{
        text-align: right;
        
        
        p, button{
            margin:0 1rem;
            display: none;
            
        }
        button{
            border: 1px solid $purple;
            margin: 2vh;
            display: inline-block;
        
            &:hover{
                background: $purple !important;
                cursor: pointer;
            }
        }
    }

    .wave {
        display:none;
    }
}