@import './_config';
@import './App';

// $colors: $orange, $winterPink, $pastelPink, $blue, $pastelGray;

// @for $i from 1 through length($colors) {
// 	.jobs__job:nth-child(#{length($colors)}n+#{$i}) {
// 		background: nth($colors, $i), 20%;
//     }
// }


.about {
    padding-bottom: 2rem;
    background:linear-gradient(
        $winter, $winter, $secondary, 
    );
    color: $primary;
    

    

    &__bio-image {
        height: 30vh;
        width: 100%;
        @include bg;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        p   {
            margin-bottom: 2rem;
        
        }
    }

    &__bio {
        width: 80%;
        @include basic;

        .text-secondary{
            padding-bottom: 1rem;
        }
    }

    .jobs {
        width:60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:2rem;
       

        
       
        h1 {
            font-size: 10vh;
            padding: 1rem;
            text-align: center;
            color: $purple
        }

        &__job{
            
            margin-bottom: 0 auto;
           
            border-bottom: 5px solid $purple;
            
          
        }

        h2{
            
            font-size:1rem;
            @include basic;
            color: $purple;
            margin:0;
          
        }

        

        h6{
            border-bottom: 1px solid $secondary;
            padding-bottom: 1vh;
            text-transform: uppercase;
        }

        h6, p {
            margin: 1rem .5rem;
            text-align: justify;
            
        }
   
    }

    
}