@import './config';


.contact {
    height:100%;
    padding-top: 20vh;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: 
    url(../assets/a1c27395998927.png),
        linear-gradient(
            $winter,
            $pastelPink
        );
    background-size: cover;
    height: 100vh;
    background-position-y: bottom;

    h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
        
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        font-size:2.8vh;
        margin: 2vh;

        svg {
            margin: -1vh 10px;
        }
        span{
            line-height: 4vh;
        }
      
    }

    
   
}