@import './config';

.contactForm {
    div{
        text-align: center;
    }

    .button{
        border: 1px solid $pastelPurple;
        margin: 2vh;

        &:hover{
            background: $pastelPurple
        }
    }

    .icon{
        color: $pastelPurple
    }
}